body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://syedanaqvi9.github.io/mood-tracker/images/mood-finder.png");
    background-size: cover;
    background-position: center;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 400px;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ae59e3;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #764c88;
}

ul {
    list-style: none;
    padding: 0;
}

#moodHistory li{
    background-color: #764c88;
    color: white;
}

p#quote{
    background-color: #764c88;
    color: white;
    padding: 15px;

}
li {
    background-color: #e9ecef;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
}

footer {
    position: fixed; 
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #764c88;
    color: white;
    font-size: 14px;
}

footer a {
    color: #ffeb3b;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
